@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Poppins:wght@100;400;500&family=Roboto:ital,wght@1,500&display=swap");

/* * {
  margin: 0px;
  padding: 0px;
} */
.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
}

.sidebar {
  height: 100%;
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: #f3f4f6;
  padding: 1.8rem;
}

.sidebar div {
  padding: 1rem;
  font-size: 1rem;
}

.sidebar div a {
  text-decoration: none;
  color: gray;
}

.main--body {
  margin-left: 150px;
  font-size: 1rem;
  text-align: left;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.mails--box {
  /* border: 0.1px solid gray; */
  padding: 5px 10px;
  position: relative;
}

.inbox--detail--link {
  font-size: 0.8rem;
}

.inbox--detail--link a {
  text-decoration: none;
  color: black;
}

.inbox--btns {
  position: absolute;
  right: 1rem;
  bottom: 1.3rem;
  margin: 5px;
}

.trash--btns,
.span--btns {
  display: flex;
  justify-content: space-between;
}

.trash--btns a,
.span--btns a {
  text-decoration: none;
  color: black;
}

.inbox--btns button {
  margin: 5px;
  background-color: white;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

.star--btn {
  cursor: pointer;
  border: none;
  background-color: white;
}

.move-to-inbox--btn {
  background-color: white;
  border: none;
  cursor: pointer;
}
.details--box {
  /* border: 0.5px solid gray; */
  padding: 15rem;
  position: relative;
}

.input--btns {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input--btns input {
  margin: 10px 20px;
}

.search-input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f1f5f9;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
}
